<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Departamento</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quatidade</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>
